@font-face {
    font-family: 'Beebopp';
    src: url('/fonts/BEEBOPP.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'PCkeys';
    src: url('/fonts/PCKEYS.TTF') format('truetype');
    font-style: normal;
}
