@font-face {
    font-family: 'Beebopp';
    src: url('/fonts/BEEBOPP.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Wedgie';
    src: url('/fonts/WEDGIE.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Griff3';
    src: url('/fonts/GRIFF3.TTF') format('truetype');
    font-style: normal;
}
