body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.menuBox {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

ul.menu {
    text-align: left;
    font-family: "Beebopp";

    list-style-type:none;

    margin: 0px;
    padding: 0px;
}