body {
    background-color: white;
}

h1 {
    color: black;
    margin-left: 20px;
    font-family: "Beebopp";
}

.sidebar {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    overflow-x: hidden;
}

.sidebar ul {
    text-align: left;
    font-family: "Beebopp";
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidebar a:link {
    color: black;
    text-decoration: none;
}

.sidebar a:visited {
    color: black;
    text-decoration: none;
}